body {
    background-color: rgb(218, 167, 223);
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container form input {
    height: 30px;
    border-radius: 3px;
    border: 0px solid;
}

.container form button {
    margin-top: 20px;
    height: 30px;
    background-color: rgb(243, 147, 4);
    border-radius: 3px;
    border: 0px solid;
    color: white;
    cursor: pointer;
}

.container form .title,.author,.year {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

table {
    margin-top: 30px;
    width: 100%;
}

* {
    box-sizing: border-box;
}